$fontcolor:  rgb(10%, 10%, 10%);
$backgroundcolor: rgb(98%, 98%, 98%);

body, html {
  font-family: "Roboto", sans-serif;
  background: linear-gradient(to bottom, #87e0fd 0%,#53cbf1 40%,#05abe0 100%);
  height: 100%;
}

.note-content input {
  text-align: left;
  font-family: 'Krona One', sans-serif;
  height: 50px;
  width: 50px;
}

#title-bar {
  margin-bottom: 20px;

  input {
    font-size: 1.5em;
    border-radius: .25em;
  }
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  width: 200px;
  height: 200px;
  background-color: white;
  border-color: black;
  border-width: 10px;
}

.editing-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  margin: 10px;
  width: 300px;
  height: 300px;
  background-color: white;
  border-color: black;
  border-width: 10px;
}

.title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.editing-title-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.container {
  padding: 2px 16px;
}

.delete-icon {
  width: 5px;
  height: 5px;
}
